.single-reviewcard {
  border: solid rgb(18, 120, 216) 1px;
  margin-bottom: 20px;
  margin-top: 10px;
  list-style: none;
  border-radius: 7px;

  .single-reviewcardwrap {
    .review-bar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background-color: cornsilk;
      justify-content: space-between;

      .name-picture {
        display: flex;
        align-items: center;
        h4 {
          margin-left: 10px;
        }
        .avatar {
          margin-left: 10px;
        }
      }
      p {
        margin-right: 10px;
        margin-left: 10px;
      }
    }

    .review-img {
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        margin: 10px;
      }
    }

    .review-data {
      .review-designer {
        h4 {
          margin-left: 10px;
        }
      }
      p {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .review-likes-category {
      .review-votes {
        display: flex;
        align-content: center;
      }
    }

    .comments-alert {
      margin-left: 10px;
      margin-right: 10px;
    }

    .post-comment {
      .comment-textfield {
        margin-left: 10px;
        margin-bottom: 10px;
        min-width: 275px;
      }
    }

    .post-button {
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
}

.backdrop {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  p {
    margin-left: 5px;
  }
}
